# Logs
*.log

# Configuração sensível
config/config-prod.json
config/config.json

# Diretório de Deploys (binários ou arquivos gerados)
deploy/

# Cache de dependências do Go
/go.sum

# Arquivos binários gerados
trading-bot

# Ignorar todos os binários na raiz
*.exe
*.out
*.bin

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
